/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS */

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }


/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/* Primary Styles
  Author: 
*/

/* Global */

body {
  background: #fffffe url("/images/header_fill_01.png") repeat-x;
  font-family: 'Maven Pro', cursive;
  font-size: 14px;
}

h3 {
  color: #242322;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px ;
  line-height: 1.3em;
}

p.last {
  margin-bottom: 30px;
}

a:link { 
  color: #333
}
a:visited { color: #333 }
a:hover {
}
a:active { color: #333 }

/* Header */

#header {
  background: #FFF url("/images/header_01.png") no-repeat;
  height: 177px;
  margin-bottom: 20px;
}

#navigation {
  height: 50px;
  padding-top: 20px;
}

#navigation li {
  margin-right: 10px;
  margin-bottom: 20px;
}

#navigation a {
  color: #9C9C9C;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  text-shadow: 0 1px #FFF;
}

#navigation a:hover {
  text-decoration: underline;
}

/* Content */

.text-content a:hover {
  background-color: #A7DBD8;
  color: #333;
  text-decoration: none;
}


/* Scoreboard */

#scoreboard .entry {
  border-bottom: 1px solid #f1f0ee;
  color: #555;
  height: 60px;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow: hidden;
  position: relative;
}

#scoreboard .slider {
    position: relative;
}

#scoreboard .entry:hover {
/*  background-color: #A7DBD8;*/
/*  color: #FFF;
  cursor: pointer;
*/}

/* Scoreboard > Leader */

#scoreboard .leader {
  height: 140px;
  overflow: hidden;
}

#scoreboard .leader .extra-info {
    margin-top: 10px;
    line-height: 1.3em;
}

#scoreboard .leader .extra-info strong{
    color: #333;
    font-weight: bold;
}

#scoreboard .leader .byline {
  height: 16px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 18px;
  padding: 5px;
  margin-top: 2px;
  text-align: center;
}

#scoreboard .leader .avatar {
  height: 140px;
  width: 140px;
}

#scoreboard .leader .timestamp {
  font-family: 'Podkova', sans-serif;
  font-size: 78px;
  margin:0px;
  padding:0px;
  text-align: center;
}

#scoreboard .leader .name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

/* Scoreboard > Runner ups */

#scoreboard .entry.runner-up {
  height: 60px;
}


#scoreboard .runner-up .extra-info {
    margin-top: 10px;
    line-height: 1.3em;
}

#scoreboard .runner-up .extra-info strong{
    color: #333;
    font-weight: bold;
}

#scoreboard .runner-up .position,
#scoreboard .runner-up .details-link {
  height: 60px;
  font-family: 'Podkova', sans-serif;
  line-height: 60px;
  text-align: center;
  width: 58px;
}

#scoreboard .runner-up .position {
  border-left: 1px solid #f1f0ee;
  border-right: 1px solid #f1f0ee;
  font-size: 57px;
}

#scoreboard .runner-up .details-link {
  font-size: 30px;
  cursor: pointer;
}

#scoreboard .runner-up .avatar {
  background-size: cover;
  height: 60px;
  width: 60px;
}

#scoreboard .runner-up .timestamp {
  font-family: 'Podkova', sans-serif;
  font-size: 40px;
}

#scoreboard .runner-up .name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

/* Scoreboard > Noobs */

#scoreboard .entry.noob {
  height: 30px;
}

#scoreboard .noob .position,
#scoreboard .noob .details-link {
  height: 30px;
  font-family: 'Podkova', sans-serif;
  line-height: 30px;
  text-align: center;
  width: 58px;
}

#scoreboard .noob .position {
  border-left: 1px solid #f1f0ee;
  border-right: 1px solid #f1f0ee;
  color: #999;
  font-size: 20px;
}

#scoreboard .noob .details-link a {
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
}

#scoreboard .noob .timestamp {
  font-family: 'Podkova', sans-serif;
  font-size: 16px;
  line-height: 30px;
}

#scoreboard .noob .name {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

/* Registration */

#registration {
}

#registration input[type="number"] {
    display:none;
}

#registration textarea[name=extra] {
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px 0px #ffffff;
    box-shadow: 0px 1px 0px 0px #ffffff;
    color: #222;
    font: 14px/18px "Helvetica Neue",Arial,sans-serif;
    height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    width: 284px;
}

#registration .reg-step {
  padding-bottom: 5px;
  padding-top: 5px;
}

#registration .reg-step .number {
    font-family: 'Podkova', sans-serif;
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 58px;
    color: #999;
    border-left: 1px solid #f1f0ee;
    border-right: 1px solid #f1f0ee;
    font-size: 20px;
}

#registration .reg-step .description {
  color: #999;
  font-size: 16px;
  line-height: 30px;
}
/* Footer */

#footer {
  border-top: 1px solid #999;
  font-family: 'Raleway', sans-serif;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

