{% extends "base.html" %}

{% block content %}
{% if fail %}
<p id="fail"><span>{{ fail }}</span></p>
{% endif %}
<div id="welcome" class="text-content grid_6">
<h3 class="">
  Cykellopp, jämt <u>o</u> ständigt!
</h3>
<p>
  Detta är cykeltävlingen för alla! Hipsters, landsvägs-eliten, hundar, veganer, laktosintolleranta, Zlatan, fan och hans moster. Alla ska med! Starten går precis när du själv vill, orkar och har tid. Tävlingen avgörs här, kontinuerligt.
</p>
<p class="last">
  Reglerna är enkla och går att läsa <a href="/info">här</a>. Lycka till!
</p>
  <div id="registration">
    <h3>Registrering</h3>
{% if current_user %}
    <form id="ulform" action="/upload" enctype="multipart/form-data" method="post">
      <div class="reg-step clearfix">
        <div class="grid_1 number alpha">1</div>
        <div class="grid_5 description omega">
          <label for="start">Välj startfil &rarr;</label>
          <input type="file" name="start" class="required" />
          <input type="number" name="startrot" id="startrot" />
        </div>
      </div>
      <div class="clear"></div>
      <div class="reg-step clearfix">
        <div class="grid_1 number alpha">2</div>
        <div class="grid_5 description omega">
          <label for="finish">Välj målfil &rarr;</label>
          <input type="file" id="finish" name="finish" class="required" />
          <input type="number" name="finishrot" id="finishrot" />
        </div>
      </div>
      <div class="clear"></div>
      <div class="reg-step clearfix">
        <div class="grid_1 number alpha">3</div>
        <div class="grid_5 description omega">
          <textarea placeholder="RunKeeper länk, vädernotis, whatever!" name=extra></textarea>
        </div>
      </div>
      <div class="clear"></div>
      <div class="reg-step clearfix">
        <div class="grid_1 number alpha">4</div>
        <div id="photothumbs" class="grid_5 description omega">
          Klicka på fotot för att rotera<br />
          <canvas width=140 height=0 class="start"></canvas>
          <canvas width=140 height=0 class="finish"></canvas>
        </div>
      </div>
      <div class="clear"></div>
      <div class="reg-step clearfix">
        <div class="grid_1 number alpha">5</div>
        <div id="submitbutton" class="grid_5 description omega">
          <input disabled="disabled" id="submitbtn" type="submit" value="Välj start och målfil!">
        </div>
      </div>
      <div class="clear"></div>
    </form>
{% else %}
    <p class="last"><a href="{{ login }}">Logga in</a> för att kunna registrera tider.
    Du behöver ett Google konto, som är gratis att registrera <a href="https://www.google.com/accounts/NewAccount?continue=http%3A%2F%2Fwww.google.se%2F&hl=sv">här</a>.</p>
{% endif %}
  </div>

  <!-- <h3>Anslagstavlan</h3>
  <p>Passa på att egga varandra i en hederlig gästbok i sann 90-tals anda.</p>
  <p class="last"><em>Kommer inom kort</em></p> -->
  <center><img src="images/small_seal.png" /></center>
</div>
<!-- END LEFT COL -->
<div id="scoreboard" class="grid_6">
  <div id="foo" style="display: none;" class="grid_6">
    DARK SIDE OF THE MOON
  </div>
  <div class="clear"></div>
  {% if leader %}
    <div class="entry leader">
      <div class="avatar grid_2 alpha" 
           style='background: #FFF url("/races/{{leader.key}}/photos/finish") no-repeat;'>
          <!-- <img src="http://placekitten.com/g/140/140" /> -->
      </div>
      <div class="slider grid_4 omega">
        <!-- default content -->
        <div class="timestamp">
            {{ leader.totalTime|format }}
        </div>
        <div class="name">{{ leader.user }}</div>
        <div class="byline">Vägens konung sedan {{ leader_string }}</div>
        <!-- hover content -->
        <div class="extra-info" style="height: 140px">
          {{ leader.user }} <strong>Cyklade på</strong> {{leader.totalTime|format}} <strong>mellan</strong> {{leader.startTime|formatt}} - {{leader.finishTime|formatt}} <strong>den</strong> {{leader.startTime|formatdv}}.<br />
          <p><a href="/races/{{leader.key}}">Mer info</a>.</p>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  {% endif %}
  {% for runner_up in runner_ups %}
  <div class="entry runner-up">
    <div class="position grid_1 alpha">
      {{ runner_up.position }}
    </div>
    <div class="slider clearfix">
      <!-- default content -->
      <div class="avatar grid_1"
           style='background: #FFF url("/races/{{runner_up.key}}/photos/finish") no-repeat;'>
      </div>
      <div class="grid_3">
        <div class="timestamp">{{ runner_up.totalTime|format }}</div>
        <div class="name">{{ runner_up.user }}</div>
      </div>
      <div class="details-link grid_1 omega">
        >
      </div>
      <!-- hover content -->
      <div class="extra-info push_1 grid_5 alpha" style="height: 60px">
        {{ runner_up.user }} <strong>Cyklade på</strong> {{runner_up.totalTime|format}} <strong>mellan</strong> {{runner_up.startTime|formatt}} - {{runner_up.finishTime|formatt}} <strong>den</strong> {{runner_up.startTime|formatdv}}.<br />
        <p><a href="/races/{{runner_up.key}}">Mer info</a>.</p>
      </div>
    </div>
  </div>
    <div class="clear"></div>
  {% endfor %}
  {% for noob in noobs %}
    <div class="entry noob">
      <div class="position grid_1 alpha">
       {{ noob.position }}
      </div>
      <div class="grid_1">
        <div class="timestamp">{{ noob.totalTime|format }}</div>
      </div>
      <div class="grid_3">
        <div class="name">{{ noob.user }}</div>
      </div>
      <div class="details-link grid_1 omega">
        <a href="/races/{{noob.key}}">></a>
      </div>
    </div>
    <div class="clear"></div>
  {% endfor %}
</div>

{% endblock %}
