{% extends "base.html" %}
{% block content %}
{% if fail %}
<p id="fail"><span>{{ fail }}</span></p>
{% end %}
<h2>Registrering</h2>
{% if current_user %}


<form id="ulform" action="/upload" enctype="multipart/form-data" method="post">
    <p>
        <label for="start">Välj startfil &rarr;</label>
        <input type="file" id="start" name="start" class="required" />
    </p>
    <p>
        <label for="finish">Välj målfil &rarr;</label>
        <input type="file" id="finish" name="finish" class="required" />
    </p>
    <div id="submitbutton">
        <input disabled="disabled" id="submitbtn" type="submit" value="Välj start och målfil!">
    </div>
</form>

{% else %}
<div id="login">
	<a href="{{login}}">Logga in</a> för att kunna registrera tider.<br/>Du behöver ett Google konto, som är gratis att registrera <a href="https://www.google.com/accounts/NewAccount?continue=http%3A%2F%2Fwww.google.se%2F&hl=sv">här</a>.
</div>
{% end %}
<hr/>
<div id="top5">
	<h2>Top 5!</h2>
	<ol>
		{% for race in races %}
			<li><a href="/showrace/{{race.key()}}">{{ filters.format(race.total_time) }}</a> - <span>{{ race.user }}</span></li>
		{% end %}
	</ol>
</div>
<hr/>
<div id="info">
	<p>Detta är cykeltävlingen för alla... fixiekidz, lvg-eliten, hundar, veganer, laktosintolleranta, Zlatan osv. ALLA SKA MED! Starten går precis när du själv vill, orkar och har tid. Tävlingen avgörs här, kontinuerligt.</p>
	<p>Reglerna är enkla och går att läsa <a href="/info">här</a>.</p>
</div>

{% end %}
