{% extends "base.html" %}

{% block content %}
<div id="myraces" class="grid_12">
  <h3>Curricadence Vitae</h3>
  <table border="0">
  	<tr><th>Datum</th><th>Starttid</th><th>Måltid</th><th>Totaltid</th><th>Kommentar</th><th></th><th></th></tr>
  	{% for race in races %}
  	<tr>
  		<td>{{race.startTime|formatd}}</td>
  		<td>{{race.startTime|formatt}}</td>
  		<td>{{race.finishTime|formatt}}</td>
  		<td>{{race.totalTime|format}}</td>
  		<td>{% if race.extra %}{{race.extra|escape}}{% endif %}</td>
  		<td><a href="/races/{{race.key}}">Visa loppet</a></td>
  		<td><a href="/removerace/{{race.key}}">Radera loppet</a></td>
  	</tr>
  	{% endfor %}
  </table>
  
</div>

<div id="settings" class="grid_12">
  <h3>Inställningar</h3>
  <div class="setting">
    <div class="name-label grid_1 alpha">Namn</div>
    <div class="namn">
      <form action="/users/{{current_user.user_id}}" method="post" accept-charset="utf-8">
        <input type="text" name="name" placeholder="{{ current_user.nickname|escape }}" id="name">
        <p><input type="submit" disabled="disabled" value="Spara"></p>
      </form>
    </div>
    
  </div>
</div>
{% endblock %}