{% extends "base.html" %}

{% block content %}
<h3>Curricadence Vitae</h3>
<table border="0" id="myraces">
	<tr><th>Datum</th><th>Starttid</th><th>Måltid</th><th>Totaltid</th><th>Kommentar</th><th></th><th></th></tr>
	{% for race in races %}
	<tr>
		<td>{{race.startTime|formatd}}</td>
		<td>{{race.startTime|formatt}}</td>
		<td>{{race.finishTime|formatt}}</td>
		<td>{{race.totalTime|format}}</td>
		<td>{% if race.extra %}{{race.extra|escape}}{% endif %}</td>
		<td><a href="/races/{{race.key}}">Visa loppet</a></td>
		<td><a href="/removerace/{{race.key}}">Radera loppet</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}