{% extends "base.html" %}

{% block content %}
<div id="myraces" class="grid_12">
  <h3>This is {{ racer.nickname|escape }}!</h3>
  {% if races %}
    <table border="0">      <tr><th>Datum</th><th>Starttid</th><th>Måltid</th><th>Totaltid</th><th>Kommentar</th><th></th><th></th></tr>
      {% for race in races %}
      <tr>
        <td>{{race.start_time|formatd}}</td>
        <td>{{race.start_time|formatt}}</td>
        <td>{{race.finish_time|formatt}}</td>
        <td>{{race.total_time|format}}</td>
        <td>{% if race.extra %}{{race.extra|escape}}{% endif %}</td>
        <td><a href="/races/{{race.key}}">Visa loppet</a></td>
        <td>{% ifequal current_racer racer %}<a href="/removerace/{{race.key}}">Radera loppet</a>{% endifequal %}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
  {{ racer.nickname|escape }} är fet och slö och har inte pallat cykla ännu.
  {% endif %}
</div>

{% ifequal current_racer racer %}
  <div id="settings" class="grid_12">
    <h3>Inställningar</h3>
    <div class="setting">
      <div class="name-label grid_1 alpha">Namn</div>
      <div class="namn">
        <form action="/racers/{{current_racer.key}}" method="post" accept-charset="utf-8">
          <input type="text" name="name" placeholder="{{ current_racer.nickname|escape }}" id="name">
          <p><input type="submit" value="Spara"></p>
        </form>
      </div>
    </div>
  </div>
{% endifequal %}
{% endblock %}
