{% extends "base.html" %}

{% block content %}

<div id="really_remove">
	Vill du verkligen radera detta loppet?
	<form action="/removerace/{{id}}" method="post" accept-charset="utf-8">
		<p><input type="submit" value="RADERA"></p>
	</form>
</div>
<hr/>
<div id="race_images">
	<h2>{{username}}</h2><h2>{{filters.formatd(start_time)}}</h2>
	<div class="race_images_inner">
		<p>Startfoto</p>
		<img src="/img?type=start&amp;race_id={{ id }}" alt="Startfoto" />
	</div>
	<div class="race_images_inner">
		<p>Målfoto</p>
		<img src="/img?type=finish&amp;race_id={{ id }}" alt="Målfoto" />
	</div>
	<h2>Totaltid: {{ filters.format(total_time) }}!</h2>
</div>
{% end %}