{% extends "base.html" %}
{% block extrahead %}
<meta property="og:title" content="{{ race.racer.nickname|escape }} körde Almåsa Öppna på {{ race.total_time|format }}!" />
<meta property="og:type" content="activity" />
<meta property="og:url" content="http://almasaopen.appspot.com/races/{{ race.key }}" />
<meta property="og:image" content="http://almasaopen.appspot.com/races/{{ race.key }}/photos/finish" />
<meta property="og:site_name" content="Almåsa Öppna" />
<meta property="fb:admins" content="609464251" />
{% endblock %}

{% block content %}
<div id="race-view" class="grid_6">
  <h3>Tjik!</h3>
  <p>
    Året var {{race.start_time|formaty}}. {{race.racer.nickname|escape}} begav sig den {{race.start_time|formatdvsy}} ut på en gastkramande färd genom den skånska myllan, över kullar och genom skogar. {{race.racer.nickname|escape}} påbörjade sin färd klockan {{race.start_time|formatt}} och den varade ända tills klockan {{race.finish_time|formatt}}. Hela resan varade, rätt exakt, i {{race.total_time|format}} timmar, minuter och sekunder. Cool story bro!
  </p>
    {% if race.extra %}
    <p id="extralink">{{ race.extra|escape }}</p>
    {% endif %}
    <div id="fb-share" class="clearfix">
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=184950834898695&amp;xfbml=1"></script><fb:like href="http://almasaopen.appspot.com/races/{{ race.key }}" send="true" width="460" show_faces="false" action="like" font=""></fb:like>
    </div>
    <h3>Kommentarer</h3>
    {% for comment in comments %}
        <div class="comment clearfix">
          <div class="comment-bullet grid_1 alpha">
            <img src="/images/small_seal.png?v=1" />
          </div>
          <div class="grid_4">
              <div class="name">{{ comment.racer.nickname|escape }}</div>
              <div class="date">{{ comment.time|formatd }}  {{ comment.time|formatt }}</div>
          </div>
          <div class="delete grid_1 omega">
            {% ifequal comment.racer current_racer %}
            <form action="/races/{{ id }}/comments/{{ comment.key }}" method="post" accept-charset="utf-8">
              <input type="submit" value="Radera">
            </form>
            {% endifequal %}
          </div>
          <div class="clear"></div>
          
          <div class="push_1 grid_5 alpha omega">
              <p>{{ comment.comment|escape }}</p>
          </div>
        </div>
        <div class="clear"></div>
    {% endfor %}
    {% if current_racer %}
    <form id="commentform" action="/races/{{ id }}/comments" method="post" accept-charset="utf-8">
        <textarea name="comment" placeholder="Kommentera loppet!"></textarea>
    <p><input type="submit" value="Kommentera"></p>
    </form>
    {% else %}
    <h4>Logga in för att kunna kommentera!</h4>
    {% endif %}
  
</div>
<div id="race-photos" class="grid_6">
    <h3>Före &amp; Efter</h3>
    <div id="start-photo" class="grid_3 alpha">
      <img src="/races/{{ id }}/photos/start" alt="Startfoto" />
    </div>
    <div id="finish-photo" class="grid_3 omega">
      <img src="/races/{{ id }}/photos/finish" alt="Målfoto" />
    </div>
</div>

{% endblock %}
