{% extends "base.html" %}

{% block content %}
<div id="race_images">
	<h2>{{username}}</h2><h2>{{starttime|formatd}}</h2>
    <table id="showracetable" border="0">
        <tr><th>Startfoto</th><th>Målfoto</th></tr>
        <tr>
            <td>
                <img src="/img?type=start&amp;race_id={{ id }}" alt="Startfoto" />
            </td>
            <td>
                <img src="/img?type=finish&amp;race_id={{ id }}" alt="Målfoto" />
            </td>
        </tr>
    </table>
	<h2>Totaltid: {{ totaltime|format }}!</h2>
    {% if extra %}
    <p id="extralink">{{ extra }}</p>
    <textarea placeholder="Extra extra!" name=extra></textarea>
    {% endif %}
    <h2>Kommentarer</h2>
    {% for comment in comments %}
        <div class="comment">
            <p class="commentheader"><strong>{{ comment.user }}</strong> - {{ comment.time|formatd }} klockan {{ comment.time|formatt }}</p>
            <p>{{ comment.comment }}</p>
            {% ifequal comment.user currentuser %}
            <a href="#" onclick='deleteComment("{{ comment.key }}", "{{ id }}");$(this).parent().remove(); return false;' >Radera</a>
            {% endifequal %}
        </div>
    {% endfor %}
    {% if currentuser %}
    <form id="commentform" action="/addcomment/{{ id }}" method="post" accept-charset="utf-8">
        <textarea name="comment" cols=70 rows=6 placeholder="Kommentera loppet!"></textarea>
    
    <p><input type="submit" value="Kommentera"></p>
    </form>
    {% else %}
    <h3>Logga in för att kunna kommentera!</h3>
    {% endif %}
</div>
{% endblock %}
